
* {
	font-family: 'Lato', sans-serif;
	padding: 0; 
	margin: 0;
}

body, html { 
	width:100%; 
	height:100%; 

}

.container {
	width: 100%;
	height: 100%;
}

.head {
	width: 100%;
	height: 100%;
	background-image: url('../images/head.jpg');
	background-repeat: no-repeat;
	background-attachment: cover;

}

.title {
	width: 45%;
	margin-top: 15%;
	padding: 30px 30px 30px 30px;
	background-color: rgba(0, 0 , 0, 0.7);
	float: right;
}

.title p{
	text-align: justify;
	font-size: 3em;
	color: white;
}


.row {
	width: 100%;
}

span{
	width:0;
	height:0;
	border:50px solid transparent;
	display:block;
}

.premios{
	width: 100%;
	height: 600px;
}

span.baixo{
	border-top-color:#a2c108;
}

span.esquerda{
	border-right-color:#fff;
}

span.direita{
	border-left-color:#fff;
}


#carousel-wrap {
	width: 1150px;
	overflow: hidden;
}

#caroussel-list {
	overflow: hidden;
	height: 450px;
	width: 1600px;
}

#caroussel-list li {
	overflow: hidden;
	margin: 75px 42px 0px 42px;
	width: 310px;
	display: inline-block;
}

#caroussel-list img {
	width: 250px;
	height: 250px;
	background-color: white; 
	border-radius: 50%;
	border:solid 10px #76c7be;
}

.forms{
	width: 100%;
	height: 600px;
}

button.accordion {
	background-color: #76c7be;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	margin-top: 5px;
}

button.accordion.active, button.accordion:hover {
	background-color: #107065;
}

div.panel {
	padding: 0 25px;
	background-color: white;
	height: 300px;
	display: none;
}

div.panel.show {
	display: block;
}


div.form{
	border: solid 1px;
	width: 100%;
	border-radius: 10px;
}

div.form-title{
	text-align: center;
	height: 120px;
	background-color: #107065;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	font-size: 1.5em;
}

div.form-body{
	margin-top: 10;
	height: 400px;
}

div.form-body form{
	padding: 30px;
	align-content: center;
}

div.form-body table{
	width: 100%;
}

div.form-body label{
	color: #8a8a8a;
	font-weight: bold;
}

div.form-body input{
	width: 100%;
	border-color: transparent;
	height: 40px;
}

div.form-body textarea{
	width: 100%;
	border-color: transparent;
	height: 50px;
}

div.form-body input[type=submit]{
	margin-top: 40px;
	margin-left: 25%;
	margin-right: 35%;
	width: 50%;
	border-color: transparent;
	height: 40px;
	background-color: #a2c108;
	border-radius: 10px;
	color:#1f533b;
	font-weight: bold;
}

div.form-body input{
	width: 50%;
	border-color: transparent;
	height: 50px;
}

@media screen {

	.col-2 {
		position: relative;
		float: left;
		width: 40%;
		padding: 40px;
	}
}

@media mobile{

	.col-2 {
		position: relative;
		float: left;
		width: 100%;
	}	

}
